<div class="small-container">
    <header class="navbar navbar-fixed-bottom navbar-inverse">
        <a href={{"/index.html" | absoluteurl}}><h4 class="navlink">Home</h4></a>
                <a href="https://github.com/lucas-burdell"><h4 class="navlink">My Github</h4></a>
                <a href={{"/about.html" | absoluteurl}}><h4 class="navlink">About</h4></a>
                <small class="footer-text">The contents of this website are &copy; 2017 under the terms of the <a href="https://github.com/lucas-burdell/lucas-burdell.github.io/blob/master/LICENSE">GNU General Public License v3.0</a></small>
        </nav>
    </header>
</div>
