@import url('/assets/css/bootstrap/bootstrap.css');

body {
    padding-bottom: 85px;
}

#logo {
    text-align:center;
    color: #fff;
    text-transform: uppercase;
    padding-top: 9px;
    font-weight: bold;
}

.jumbotron {
    background-color: aliceblue;
   
}

.navbar-inverse {
    background-color: dodgerblue;
}

.navbar-fixed-bottom {
    margin-top: 85px;
}

.navbar-static-top {
    margin-bottom: 85px;
    min-height: 0px;
}
#logo:hover {
    color: #999;
    text-decoration: none;
}

#autohiding-navbar {
    min-height: 10px;
}

.navlink {
    color: #fff;
    float: left;
    padding-left: 9px;
    padding-right: 9px;
    margin: 5px;
}

.navlink:hover {
    color: #ccc;
    text-decoration: none;
}

.footer-text {
    color: #eee;
    text-align: center;
    padding-left: 9px;
    padding-bottom: 9px;
    font-size: 7pt;
    vertical-align: middle;
}

.footer-link {
    color: #eee;
    font-size: 7pt;
    text-decoration: underline;
}

.line-seperator {
    height: 1px;
    border-bottom: 1px solid #313030;
    padding-top: 1px;
    margin-bottom: 10px;
}

.nav-footer {
    min-height: 30px;
    height: 30px;
}
