@import url('/assets/css/bootstrap.css');

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#logo {
    float: left;
    color: #fff;
    text-transform: uppercase;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}
td {
    text-align: center;
}
