---
author: lucas.burdell
---
<!DOCTYPE html>
<html lang='en'>
    <head>
        <link rel="stylesheet" href={{ "/assets/css/custom.css" | relativeurl }}>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} | Lucas Burdell's Website and Blog</title>
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

        <meta property="og:title" content="{{ page.title }} | Lucas Burdell's Website and Blog" />
        <meta property="og:locale" content="en_US" />
        <link rel="canonical" href="https://lucas-burdell.github.io/" />
        <meta property="og:url" content="https://lucas-burdell.github.io/" />
        <script type="application/ld+json">
{"@context":"http://schema.org","@type":"WebSite","headline":"Home","url":"https://lucas-burdell.github.io/"}</script>
    </head>
    <body>
        {% include header.html %}

        <div class="container">
            <div class="centered">
                    {{ content }}
                
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
    
